{% extends 'base.html.twig' %}

{% block body %}

 Dodaj pacze zipp

   {{ form_start(photosForm)  }}

    {{ form_row(photosForm.photos) }}
    </br>
   
    <button type="submit" class="btn btn-success"> Dodaj </button>

    {{ form_end(photosForm)  }}



  <div class="container color-fonts">
<table class="table table-striped">
    <tr>
        <th> id      </th>
        <th>  name  </th>
         <th>  delete </th>
    </tr>


   {% for i in 0..length  %}
  <tr>
  <td>
    {{ i }}
   </td>
  <td>
   {{ photos[i] }}
   </td>
     <td>
      <span class="Parent">    <a href="{{ path('photo-Cancel', {
      'name2': photos[i], 
      'name': name   }) }}" class="btn btn-xs btn-success"><i class="fa fa-times" aria-hidden="true"></i></a> </span>
    </td>
     </tr>
   {% endfor %}






{% endblock %}